/*
    Fonts
*/

@font-face {
    font-family: Gotham;
    src: url('../fonts/GothamHTF-Medium.otf');
}

/*
    Global
*/
body {
    padding: 1rem;
    font-family: Gotham, serif !important;
    background-color: #ebf5fc;
}

a {
    margin-bottom: 0.3rem;
}

.a {
    text-indent: 20px;
}

h1 {
    /*color: #4B6D4A;*/
}

#title {
    font-size: 6rem;
    font-weight: 700;
}

.primary-color {
    color: #F29361;
}

.secondary-color {
    color: #5C9E33;
}

.tertiary-color {
    color: #3A5AA6;
}

h2 {
    color: #91988B;
}

.section-heading {
    color: #F29361;
    font-size: 3rem;
}

p {
    margin-bottom: 0.5rem !important;
}

a {
    margin-bottom: 0.5rem !important;
}

hr {
    margin-top: 0rem !important;
}

li {
    margin: 0.5rem;
}

.a-btn {
    color: white !important;
    margin: 0.5rem;
}

#img-austin-animal-shelter {
    width: 100%;
    height: auto;
}

#img-city {
    width: 100%;
    height: auto;
}

#img-pets {
    height: auto;
}

#img-cs171 {
    width: 75%;
    height: auto;
}

#form-animal-intakes-container {
    padding-left: 1rem;
}

#form-animal-intakes {
    padding-top: 0.5rem;
    padding-left: 2.5rem;
}

#form-animal-intakes-answer {
    display: none;
    margin-top: 1rem;
}

#credits {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
}

/* Highlighters */

.highlight-peach {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=hsl\(56,93%,78%\));
    margin: -2px -6px;
    padding: 2px 6px;
}

.highlight-rose {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=hsl\(15,86%,78%\));
    margin: -2px -6px;
    padding: 2px 6px;
}

.highlight-violet {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=hsl\(340,81%,79%\));
    margin: -2px -6px;
    padding: 2px 6px;
}

.highlight-blue {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=hsl\(267,28%,72%\));
    margin: -2px -6px;
    padding: 2px 6px;
}

.highlight-expected {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=hsl\(21,85%,66%\));
    margin: -2px -6px;
    padding: 2px 6px;
}

.highlight-actual {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=hsl\(208,42%,62%\));
    margin: -2px -6px;
    padding: 2px 6px;
}

/*
    Charts
*/

.barlabel {
    font-size: 0.6em;
}

.panel {
    padding: 1rem;
}

.xaxis,
.yaxis {
    font-size: .5em;
}

/* Austin Map */
#austin-map {
    height: 90%;
}

#austin-map-disclaimer {
    height: 20px;
}

.legend-dog,
.legend-cat,
.legend-other {
    font-size: 32px !important;
    font-weight: bold;
    vertical-align: sub;
}

.legend-dog {
    color: #0000ff;
}

.legend-cat {
    color: #ff0000;
}

.legend-other {
    color: #00aa00;
}

.textstyle {
    fill: green;
}


.tooltip-circle {
    fill: #5C865B;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px "Arial Black";
    /*  pointer-events: none;	This line needs to be removed */
}

.tooltip h3,
h4 {
    text-align: left;
}

.tooltip h4 {
    font: 10px sans-serif;
}


.xaxisch,
.yaxisch {
    font-size: .1em;
}


.rectangle:hover {
    opacity: 0.4;
}

.area {
    opacity: 0.7;
    clip-path: url(#clip);
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#expected-intakes-areachart {
    display: none;
}

.intake-areachart-legend-text {
    font-size: 0.75rem;
}

#expected-intakes-tooltip-label {
    font-size: 0.75rem;
}

.expected-intakes-tooltip-sublabel {
    font-size: 0.75rem;
}

#detailsColor {
    width: 500px;
}

.matrix-legend-text {
    font-size: 0.75rem;
}

#matrix-elapsed-time {
    font-size: 0.75rem;
}

#matrix-tooltip {
    display: none;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
    position: absolute;
    border-width: 2px;
    border: solid;
}

.matrix-tooltip-text {
    font-size: 0.6rem;
}

/* Animal Intakes Count */
.count-animal-intakes {
    font-size: 13px;
}
