/*
    Global
*/
body {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: #ebf5fc;
}

.a {
  text-indent: 20px;
}

h1 {
  font-weight: 100;
  margin-top: 50px;
  color: #4B6D4A;
}

h1 sup {
  font-size: 11px;
  top: -18px;
  font-weight: 400;
  color: #5b835a;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  color: #91988B;
  margin-bottom: 40px;
}

h3 {
    font-weight: 300;
    font-size: 40px !important;
    color: #91988B;
}

p {
    margin-bottom: 0.5rem !important;
}

hr {
    margin-top: 0rem !important;
}

li {
    margin: 0.5rem;
}

.a-btn {
    color: white !important;
}

#img-austin-animal-shelter {
    width: 100%;
    height: auto;
}

#form-animal-intakes-container {
    padding-left: 3rem;
}

#form-animal-intakes {
    padding-top: 0.5rem;
    padding-left: 2.5rem;
}

#show-me {
    display: none;
}

/* Highlighters */

.highlight-peach {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=hsl\(56,93%,78%\));
    margin: -2px -6px;
    padding:  2px  6px;
}

.highlight-rose {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=hsl\(15,86%,78%\));
    margin: -2px -6px;
    padding:  2px  6px;
}

.highlight-violet {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=hsl\(340,81%,79%\));
    margin: -2px -6px;
    padding:  2px  6px;
}

.highlight-blue {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=hsl\(267,28%,72%\));
    margin: -2px -6px;
    padding:  2px  6px;
}

/*
    Charts
*/

.barlabel {
    font-size: 0.6em;
}

.panel {
    padding: 1rem;
}

.xaxis, .yaxis {
    font-size: .7em;
}

/* Austin Map */
#austin-map {
    height: 90%;
}

#austin-map-disclaimer {
    height: 20px;
}

.legend-dog,
.legend-cat,
.legend-other {
    font-size: 32px !important;
    font-weight: bold;
    vertical-align: sub;
}

.legend-dog {
    color: #0000ff;
}
.legend-cat {
    color: #ff0000;
}
.legend-other {
    color: #00aa00;
}

.textstyle{
    fill:green;
}


.tooltip-circle {
    fill: #5C865B;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px "Arial Black";
    /*  pointer-events: none;	This line needs to be removed */
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 10px sans-serif;
}


.xaxisch, .yaxisch {
    font-size: .1em;
}


.rectangle:hover{
    opacity:0.4;
}